.container {
  max-width: $containerWidth;
  margin: 0 auto;
}

@for $i from 2 through 12 {
  .row#{$i} {
    display: flex;
    flex: 1 1 100%;

    @for $j from 1 through $i {

      $width : $j / $i * 100%;
      .col#{$j} {
        flex: 0 0 #{$width};
      }
    }
  }
}
