.header {
    width: 100%;
    position: fixed;
}

.header__container {
    @extend .container;
    height: $headerHeight;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {}

.nav__list {
    list-style: none;
    display: flex;

    @include mq('burger') {
        flex-direction: column;
    }

}
    
.nav__list--collapsed {
    @include mq('burger'){
        opacity: 0;
        z-index: -1;
    }
}

.nav__element {}

.nav__link {
    
    text-decoration: none;
    padding: 10px 20px;
}

.nav__hamburger {

    position: absolute;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    right: 25px;
    top: 25px;
    height: 60px;
    width: 70px;
    z-index: 3;
    
    @include mq('burger', min) {
        display: none;
    }

    span {
        background-color: #333;
        width: 60%;
        height: 4%;
        border-radius: 3px;
        transition: 0.3s transform;
    }

    span:first-child {
        margin-top: 16px;
    }

    span:last-child {
        margin-bottom: 14px;
    }
}

.nav__hamburger--open {

    span {
        transform: scale(0);
        transform-origin: center;

        &:first-child {
            transform: translateY(9px) rotate(135deg);
        }
        &:last-child {
            transform: translateY(-19px) rotate(-135deg);
        }
    }
}
